p{
     display: none;
     background-color:yellow;
     padding: 20px;
    }
    
    div:hover p{
        display:block;
    }

    .body{ 
        background-color:rgba(77, 102, 20, 0.925)
        
    }
        